.App-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 100vh;
  background-color: var(--skills-bg-color);
  font-size: calc(10px + 2vmin);
  border-top: 1px solid saddlebrown;
}
